body{
    background-color: red;
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
}

.header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-size: 15px;
}
    position: sticky;
    z-index: 999;
    top: 0;
    height: 80px;
    
}
.header img{
    width: 60px;
    padding: 1% 0;
    
}
.header div{
    display: flex;
    gap: 10px;
    margin: 0 1%;
}

.page-one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.page-one .text-one{
    position: absolute; /* Layer on top of the image */
    top: 50%; /* Position vertically in the middle */
    left: 50%; /* Position horizontally in the middle */
    transform: translate(-50%, -50%); /* Adjust for text container's dimensions */
    color: #fedc30; /* Ensure text visibility on the image */
    font-size: 24px; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px #c33e18; /* Optional text shadow */
    text-align: center; /* Center the text within its container */
}
.page-one img{
    margin-top: -5%;
    object-fit: fill;
    width: 100%;
    
}

.second-page{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    color: grey;
    font-size: 24px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    img{
        border: grey solid;
        border-radius: 10%;
        width: 200px;
        height: auto;
    }
}

.second-page .one, .second-page .two, .second-page .three{
    display: flex;
    align-items: center;
    
    justify-content: start;
    flex-direction: column;
    gap: 0%;
    img;:hover{
        transition: transform .3s;
        transform: scale(1.1);
    }

    h2{
        display: flex;
        margin-bottom: -5%;
        text-align: center;
        flex-wrap: wrap;
        margin-left: 0;
    }

    p{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-wrap: wrap;
    }
    
}

.last-page{
    background-color: rgb(207, 49, 102);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    
}
.last-page .left-elm{
    width: 50vw;
    text-align: right;
    flex: 1;
    box-sizing: border-box;
    padding-right: 10px;
}
.last-page .left-elm .left-text{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    flex-direction: column;
    text-align: right;
    img{
        
        max-width: 100%;
        width: 150px;
        height: auto;
        margin-left: auto;
        margin-top: -18px;
    }
    h3{
        font-size: 20px;
        color: white;
        margin-top: -25px;
    }
    h2{
        color: white;
        font-size: 40px;
    }
}
.last-page .left-elm{
    display: flex;
    align-items: center;
    justify-content: space-;
    img{
        
        width: 300px;
        height: auto;
        margin-left: 2%;
    }
}

.last-page .right-elm{
    display: flex;
   box-sizing: border-box;
  background-color: #5a92df;
  flex: 1;
  text-align: left;
  width: 50vw;
  height: 100vh;
  align-items: center;
}

.last-page .right-elm .right-text{
    display: flex;
    
    justify-content: center;
    
    flex-direction: column;
    flex-wrap: wrap;
    
    padding-left: 10px;
    
    
    box-sizing: border-box;
    }
    h3{
        font-size: 20px;
        color: white;
        margin-top: -25px;
        
    }
    h2{
        color: white;
        font-size: 40px;
        
    }
}


